.pokemon-wrapper{
    display: block;
    flex-basis: 30%;
}

.pokemon{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    /* max-width: 300px; */
    min-width: 200px;
    margin-top: 4rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: bisque;
    
    
}

.pokemon:hover {
    background-color: beige;
}
.pokemon-image{

    max-height: 30%;
    min-height: 200px;
    max-width: 200px;
    display: block;

}

.pokemon-name{
    letter-spacing: 5px;
    font-size: larger;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}
